<form action="#" method="post">
  <div class="form-group first">
    <label for="firstname">Firstname / Email</label>
    <input type="text" class="form-control" placeholder="Your firstname" id="firstname">
  </div>
  <div class="form-group first">
    <label for="lastname">Lastname</label>
    <input type="text" class="form-control" placeholder="Your lastname" id="lastname">
  </div>
  <div class="form-group first">
    <label for="email">Email</label>
    <input type="email" class="form-control" placeholder="your-email@gmail.com" id="email">
  </div>
  <div class="form-group last mb-3">
    <label for="password">Password</label>
    <input type="password" class="form-control" placeholder="Your Password" id="password">
  </div>
  <div class="form-group last mb-3">
    <label for="password-confirm">Confirm Password</label>
    <input type="password" class="form-control" placeholder="Confirm Your Password" id="password-confirm">
  </div>


  <input type="submit" value="Signup" class="btn col-12 btn-primary">
  <div class="mt-2 text-center auth-help">Already have an account, <a routerLink="" class="forgot-pass">Login here</a></div>


</form>
